<nav id="admin-toolbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Administrator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Выйти <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        @if (IsButtonsVisible)
        {
            <div class="col-lg-auto d-flex flex-row">
                <button class="btn btn-primary">Новая</button>
                <a class="btn btn-secondary" href="@Link">form</a>
            </div>
        }
    </div>
</nav>