<div class="d-flex justify-content-between">
    <span>@Property.DisplayedName</span>
    @if (_isActive)
    {
        @if (!_descendingOrder)
        {
            <button *ngIf="!descendingOrder" class="btn btn-sm btn-success" tooltip="Отсортировано по возрастанию"
                    (click)="onSort()">
                <i class="fas fa-caret-up fa-lg"></i>
            </button>
        }
        else
        {
            <button *ngIf="descendingOrder" class="btn btn-sm btn-success" tooltip="Отсортировано по убыванию"
                    (click)="onSort()">
                <i class="fas fa-caret-down fa-lg"></i>
            </button>
        }
    }
    else
    {
        <button class="btn btn-sm btn-primary">
            <i class="fas fa-caret-up fa-lg"></i>
        </button>
    }
</div>
