@layout StoreLayout

<div class="row no-gutters">
    <div id="store-sidebar" class="col-lg-auto">
        <StoreSidebarComponent />
    </div>
    <div id="store-main-content" class="col-lg">
        <BooksGridComponent />
    </div>
</div>