@layout StoreLayout

<div class="row no-gutters">
    <div id="store-sidebar" class="col-lg-auto">
        @*<bs-store-sidebar></bs-store-sidebar>*@
    </div>
    <div id="store-main-content" class="col-lg">
        <BooksGridComponent />
    </div>
</div>