<div class="container-fluid px-0">
    <div id="store-content">
        <bs-empty-toolbar></bs-empty-toolbar>
        <div id="store-scrollable-content">
            <div class="card m-2">
                <div class="card-body">
                    <h2 class="text-center">Подтверждение заказа</h2>

                    <table *ngIf="orderHasBeenPlaced" class="table m-2">
                        <tr>
                            <th>Заказ</th>
                            <td>{{orderConfirmation.orderId}}</td>
                        </tr>
                        <tr>
                            <th>Цена</th>
                            <td>{{orderConfirmation.amount | currency:"RUB":"symbol":"2.2-2"}}</td>
                        </tr>
                        <tr>
                            <th>Код платежа</th>
                            <td>{{orderConfirmation.authCode}}</td>
                        </tr>
                    </table>

                    <h3 *ngIf="!orderHasBeenPlaced" class="text-center">Заказ подтверждается...</h3>

                    <div class="text-center">
                        <button class="btn btn-primary" (click)="onGoToStore()">В магазин</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
