<nav id="admin-toolbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Administrator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        @if (IsSearchToolbarVisible)
        {
            <SearchToolbarComponent />
        }
        <div class="col-lg-auto d-flex flex-row">
            @if (IsToolbarActionsVisible)
            {
                <ActionsComponent />
                <CartSummaryComponent />
            }
        </div>

    </div>
</nav>