@model IEnumerable<OnlineBooksStore.Domain.Contracts.Models.Books.Book>
<h4 class="p-2 bg-primary text-white text-center">Database entities</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Entity</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Books</td>
            <td></td>
        </tr>
        <tr>
            <td>Categories</td>
            <td></td>
        </tr>
        <tr>
            <td>Publishers</td>
            <td></td>
        </tr>
        <tr>
            <td>Orders</td>
            <td></td>
        </tr>
    </tbody>
</table>
<h4 class="p-2 bg-primary text-white text-center">Database actions</h4>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Database tables</th>
        <th>Database tables data</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form method="post">
                    <div class="text-center">
                        <button type="submit" asp-action="CreateSeedData" class="btn btn-success">
                            Create tables
                        </button>
                        <button asp-action="ClearData" class="btn btn-danger">
                            Drop tables
                        </button>
                    </div>
                </form>
            </td>
            <td>
                <form method="post">
                    <div class="form-group">
                        <label>Number of Objects to Create</label>
                        <input class="form-control" name="count" value="50" />
                    </div>
                    <div class="text-center">
                        <button type="submit" asp-action="CreateSeedData" class="btn btn-primary">
                            Seed test data
                        </button>
                        <button asp-action="ClearData" class="btn btn-info">
                            Clear table data
                        </button>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>